<% friends = @friends %>
<h2>友だちリスト</h2>
<div class="row panel panel-primary" id="friends">
  <dl>
    <% friends.each do |rel| %>
    <dt class="friend-date"><%= rel[:created_at] %></dt><dd class="friend-friend"><a href="/profile/<%= rel[:account_name] %>"><%= rel[:nick_name] %></a></dd>
    <% end %>
  </dl>
</div>
